.el_1777925330218 {
  position: absolute;
  left: 525px;
  top: 84px;
  z-index: 21; cursor: pointer;
}
.el_1777925330218 {
  font-size: 52.39999999999999px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
